.line-item{
	display: grid;
	grid-template-columns: 5rem 1fr;
	min-width: 250px;
}

.line-item .skill.circle svg foreignObject, .donut{

		animation: 2s ease-in-out 1s 1;
		transition: normal 2s ease-in-out 1s all;
		height: 100%;
		width:  100%;
}


/* background: conic-gradient(
		from 0deg at 50% 50%,
		#8888FF 0deg,
		transparent 1deg,
		transparent 360deg
	); */