.line-item{
	display: grid;
	grid-template-columns: 5rem 1fr;
	min-width: 250px;
}

.skill.item{width: 0px;}

.line-item .container{
	/* width: 0; */
	width: 200px;
	min-height: 50px;
	background-color: aqua;
	border: 1px solid red;
}
.line-item .skill.item{
	margin: 10px;
	min-height: 40px;
	background-color: green;
	border: 1px solid red;
}
.line-item .skill.item.show{
	/* max-width: unset; */
}
.line-item, .container, .skill.item{
	animation: 2s ease-in-out 1s 1;
	transition: normal 2s ease-in-out 1s width;
}


.line-item .skill.circle svg foreignObject,
.donut{
		animation: 2s ease-in-out 1s 1;
		transition: normal 2s ease-in-out 1s all;
		height: 100%;
		width:  100%;
}


/* background: conic-gradient(
		from 0deg at 50% 50%,
		#8888FF 0deg,
		transparent 1deg,
		transparent 360deg
	); */